#slider {
  position: relative;
  width: 90%;
  height: 400px;
  margin: 30px auto 0 auto;
}
#slider i {
  position: absolute;
  top: 42%;
  z-index: 10;
  color: #888;
  font-size: 30px;
  cursor: pointer;
  opacity: 0.2;
  transition: 0.3s;
}
#slider:hover i {
  opacity: 1;
  font-size: 32px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
}
#slider i:nth-child(1) {
  left: -13px;
}
#slider i:nth-child(2) {
  right: -13px;
}
#slider .slider-center {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  overflow-x: scroll;
  padding: 0 30px;
  gap: 20px;
  scroll-snap-type: x mandatory;
  /* border: 2px solid orange; */
}
#slider .slider-center::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#slider .slider-center .slide-box {
  position: relative;
  width: 100%;

  min-width: 400px;
  background: white;
  border: none;
  transition: 0.4s;
  overflow: hidden;
  scroll-snap-align: center;
  border: 1px green dotted;
}
.infor div {
  /* border: 3px red dotted; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.infor div * {
  width: 100%;
  /* border: 1px solid green; */
  padding: 7px 0;
}
.slider-center .p {
  font-weight: 200;
  color: rgb(58, 102, 58);
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0)
  );
  justify-content: space-around;
  text-align: justify;
  padding: 5px 10px;
}
.slide-box .infor h7 {
  width: 100%;
  color: #006eb8;
  padding: 0 7px;
  /* border: 1px red dotted; */
}
.slide-box h8 {
  color: orange;
}
#slider .slider-center .slide-box img {
  width: 350px;
  height: 250px;
}
.slide-box .infor {
  display: flex;
  /* border: 1px dashed green; */
}

/*---MEDIA---*/
@media (min-width: 1432px) {
  #slider .slider-center .slide-box {
    min-width: 28vw;
  }
}
@media (max-width: 1502px) {
  .slide-box .infor h7 {
    font-size: 0.85rem;
  }
}
