@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
a,
i {
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f5f5f5;
  /* background-image: url(./images/bg3.jpg); */
  /* backdrop-filter: blur(1px); */
  font-family: "Poppins", sans-serif;
}
#header {
  position: relative;
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header h2 {
  font-weight: 750;
  font-size: 27px;
}
#header.sticky {
  height: 80px;
  position: fixed;
  z-index: 100;
  width: 100%;
  /* background: #6495ed; */
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 5%;
  animation: headerSticky 0.2s linear normal;
}
#header * {
  color: #171717;
  font-size: 15px;
}
#header h2 {
  font-size: 25px;
  font-weight: 700;
  margin-right: 2%;
}

.header a {
  font-size: 1.3rem;
}
.second {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin: 0 !important;
}
#header.sticky .second {
  grid-template: repeat(auto-fit, minmax(50%, 1fr));
  flex-wrap: wrap;
}
.second a {
  text-decoration: none;
  margin: 0 15px;
  color: #6495ed;
}
.second a:last-child {
  margin-right: 0;
}
.second a:hover {
  color: red;
}
.header2 div {
  display: flex;
  margin-top: 1%;
  justify-content: flex-end;
}
#header.sticky .header2 div {
  display: flex;
  margin-top: 1%;
  justify-content: flex-end;
}
.second input {
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 35px;
  background-image: url(./images/search.png);
  background-size: 20px;
  background-position: 5px;
  background-repeat: no-repeat;
  filter: brightness(0.96);
  transition: 0.3s;
}
input::placeholder {
  opacity: 0;
}
input:focus::placeholder {
  opacity: 1;
}
input:focus,
input:valid {
  border: 1px solid rgb(204, 223, 223);
  padding: 5px 37px;
  border-radius: 5px;
  box-shadow: -2px 4px 15px rgba(0, 0, 0, 0.05);
  outline: none;
  flex: 1;
}
#header.sticky input {
  flex: 1;
  box-shadow: none;
}
/*--------NAME OF GOODS------------*/
.btn-container {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 20px auto 10px auto;
}
.btn-container .filter-btn {
  min-width: 90px;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 40px;
  padding: 3px 7px;
  margin: 15px 5px;
  border-radius: 5px;
  border: none;
  background: white;
  box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.07);
  color: #171717;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}
.btn-container .filter-btn:hover {
  transform: translateY(-5px);
  box-shadow: -3px 10px 7px rgba(0, 0, 0, 0.07);
}

/*--------------PICTURES OF GOODS--------------------*/
.section-center {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
}
.section-center .card {
  width: 270px;
  height: 350px;
  border: none;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  background: white;
  transition: 0.4s;
  animation: 0.3s cardAnims linear normal;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px 0;
}
@keyframes cardAnims {
  from {
    opacity: 0.3;
    transform: translateY(20px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes headerSticky {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.section-center .card:hover {
  transform: translateY(-7px);
}
.section-center .card img {
  height: 50%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  filter: brightness(1.05);
}
.card-body {
  width: 100%;
  padding: 10% 15px 5px 15px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}
.card-body p {
  position: relative;
  font-style: italic;
  color: #999;
  font-size: 13px;
  width: 100%;
  text-align: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card-body div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-body h2 {
  width: 100%;
  color: #006eb8;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
}
.card-body div h5 {
  color: orange;
  font-weight: 550;
}
.card-body div h5:nth-child(1) {
  padding: 3px 10px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.03);
}
.card-body div h5:nth-child(2) {
  color: #666;
  font-size: 14px;
  font-weight: lighter;
}

/*---------MODAL FOR PICTURES OF GOODS-----------*/
.card-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(1px); */
  z-index: 9999;
}
.card-container.active .cart-title {
  display: inline;
  text-align: center;
  width: 100%;
}
.card-container.active {
  display: flex;
}
.card-container.active {
  display: flex;
}
.card-container .c-c-center {
  position: relative;
  width: 90%;
  max-width: 700px;
  height: 90%;
  max-height: 450px;
  border-radius: 10px;
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.card-container * {
  color: black;
}
.c-c-center img {
  width: 30%;
  filter: brightness(1.05);
}
.card-container .fa-times {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  transition: 0.3s;
  display: grid;
  place-items: center;
  font-size: 25px;
}
.card-container .fa-times:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* ----------------- */
.good {
  margin: 0 8%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  /* grid-template: repeat(auto-fit, minmax(50%, 1fr)); */
  column-gap: 20px;
}
.g a {
  cursor: pointer;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.g a:hover {
  color: red;
}
.parent {
  width: 100%;
  padding: 10px 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@keyframes cardAnim {
  from {
    opacity: 0.9;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.parent .card[data-scroll="out"] {
  opacity: 0;
  transform: translateY(30px);
  transition: 1s;
}
.parent .card[data-scroll="in"] {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}
.parent .card img {
  width: 70%;
}
.parent .card h2 {
  font-size: 1.3rem;
}
.parent .card:hover {
  transform: translateY(-7px);
  box-shadow: -1px 1px 35px rgba(0, 0, 0, 0.1);
}
@media (max-width: 576px) {
  .good a {
    display: block;
  }
}
/* ---MODAL--- */
.contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999999999999;
  transition: 0.3s;
}
.contact.active {
  display: flex;
}
.contact .c-center {
  position: relative;
  width: 90%;
  max-width: 700px;
  height: 90%;
  max-height: 450px;
  border-radius: 10px;
  background: white;
}
.contact .c-center button {
  position: absolute;
  top: -3px;
  right: 5px;
  font-size: 25px;
  transform: rotateZ(45deg);
  background: none;
  border: none;
  font-weight: 600;
}
.contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 1.1rem;
  background: #9e4695;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.8);
}
.contact p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 1.1rem;
  background: #9e4695;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.8);
}

.contact a:hover {
  text-decoration: none;
}
.contact .c-center {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
/* ------------footer ------------- */
footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444;
  font-weight: lighter;
}
/* -0------------------------------------------ */
@media (max-width: 750px) {
  #header,
  #header.sticky {
    align-items: flex-start;
    padding-top: 20px;
    height: 100px;
  }
  #header h2 {
    transform: translateY(-10px);
  }
  #header .second input {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
    border: 1px solid #ddd;
  }
  #header.sticky .second input {
    width: 90%;
    left: 5%;
  }
}
@media (max-width: 660px) {
  .section-center .card {
    width: 47%;
  }
}
@media (max-width: 460px) {
  .section-center .card {
    width: 98%;
  }
}
