.title {
  margin: 15px 0 0 5%;
  color: rgba(16, 141, 150, 0.8);
  border-bottom: 1px solid rgb(167, 147, 112);
  border-bottom-width: 1.5px;
  width: 90%;
}
#qwert {
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border: 1px dashed green; */
}
#qwert * {
  width: 200px;
  max-width: 200px;
}
#qwert .collection {
  border: orange 1px solid;
  background: white;
  justify-content: center;
  margin: 7px auto;
  text-align: center;
  width: 1000px;
  min-width: 250px;
  height: 270px;
  border-radius: 5px;
  position: relative;
  transition: 0.4s;
}
#qwert .collection:hover {
  transform: translateY(-7px);
}
#qwert .collection div {
  position: absolute;
  /* border: 1px solid red; */
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
  bottom: 0;
}
#qwert .collection div * {
  width: auto;
}
#qwert img {
  width: 150px;
  height: 170px;
}
#qwert h2 {
  min-width: 100%;
  font-size: 0.9rem;
  color: rgb(32, 144, 189);
  font-weight: bolder;
  text-align: center;
  /* border: 1px blue dotted; */
}
#qwert h4:nth-child(2) {
  color: rgb(82, 78, 78);
}
#qwert h4:nth-child(1) {
  text-align: left;
  font-size: 0.85rem;
  color: darkorange;
  background: rgb(240, 236, 236);
  padding: 3px 6px;
  border-radius: 20px;
  text-align: left;
  display: inline;
  font-weight: bolder;
}
